   <!-- Footer Section Begin -->
   @model Otel_Sistemi.Models.HotelInfo

<footer class="footer-section">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ft-about">
                        <div class="logo">
                            <a href="#">
                                <img src="~/img/footer-logo.png" alt="">
                            </a>
                        </div>
                        <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                        <div class="fa-social">
                            <a href="@Model.SosyalFacebook"><i class="fa fa-facebook"></i></a>
                            <a href="@Model.SosyalTwitter"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a> @* isteğe bağlı *@
                            <a href="@Model.SosyalInstagram"><i class="fa fa-instagram"></i></a>
                            <a href="@Model.SosyalYoutube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>Contact Us</h6>
                        <ul>
                            <li>@Model.Telefon</li>
                            <li>@Model.Email</li>
                            <li>@Model.Adres</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-newslatter">
                        <h6>New latest</h6>
                        <p>Get the latest updates and offers.</p>
                        <form action="#" class="fn-form">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</footer>
<!-- Footer Section End -->